<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">About</a></li>
  <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ "https://medium.com/@joeynavarro.data"}}".data>Blog</a></li>
  <li class="{% if page.url contains '/blog/' %} active {% endif %}"><a href="{{ "/blog/" | absolute_url}}".data>Portfolio</a></li>
  <li class="{% if page.url contains '/education/' %} active {% endif %}"><a href="{{ "/education/" | absolute_url }}">Education</a></li>
  <li class="{% if page.url contains '/docs/resume.pdf' %} active {% endif %}"><a href="{{ "https://drive.google.com/file/d/1_Y26F8IKU5QAgDpj8Bi2MIY1eNC1DAOZ/view?usp=sharing" | absolute_url }}">Resume</a></li>
</ul>


<ul class="icons">
  <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
  <li><a href="https://www.linkedin.com/in/{{site.linkedin}}"class="icon fa fa-linkedin-square" aria-hidden="true" rel="nofollow"><span class="label"></span></a></li>
  <li><a href="https://github.com/{{site.github}}" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>
  <li><a href="https://twitter.com/{{site.twitter}}" class="icon fa-twitter" rel="nofollow"><span class="label">Twitter</span></a></li>
  <li><a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li>
  
</ul>
