<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">About</a></li>
  <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="https://medium.com/@{{site.medium}}">Blog</a></li>
  <li class="{% if page.url contains '/blog/' %} active {% endif %}"><a href="{{ "/blog/" | absolute_url}}".data>Portfolio</a></li>
  <li class="{% if page.url contains '/education/' %} active {% endif %}"><a href="{{ "/education/" | absolute_url }}">Education</a></li>
  <li class="{% if page.url contains '/elements/' %} active {% endif %}"><a href="{{site.resume}}">Resume</a></li>
</ul>


<ul class="icons">
  
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <li><a href="https://www.linkedin.com/in/{{site.linkedin}}"class="icon fa fa-linkedin-square" aria-hidden="true" rel="nofollow"><span class="label">LinkedIn</span></a></li>
  <li><a href="https://www.kaggle.com/{{site.kaggle}}" class="icon fab fa-kaggle" rel="nofollow"><span class="label"></span></a></li>
  <li><a href="https://github.com/{{site.github}}" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>
  <li><a href="https://twitter.com/{{site.twitter}}" class="icon fa-twitter" rel="nofollow"><span class="label">Twitter</span></a></li>
  <li><a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li>
  
</ul>
